*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
}

img{
    height: 100%;
}

li{
    font: bolder;
    margin-left: 2rem;
}

ul{
    display: flex;
    flex-direction: row;
}

.white{
    color: white;
    margin-left: 2rem;
}

.navLink{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

h1{
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

h2{
    margin-bottom: 1rem;
}

p{
    font-size: 1rem;
}

.section1{
    height: 24rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;

    background-color: rgb(225, 0, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secion1left{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.container{
    max-width: 1130px;
    width: 100%;
    height: 100%;
}

.buttons{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section1 .container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links-holder{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.main-link{
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid black;
    color: black;
    border-radius: 12.5rem;
}

.bg-blk{
    background-color: black;
    color: white;
}

.caption{
    font-size: 8px;
}

.section2{
    height: 24rem;
    background-color: rgb(202, 189, 189);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
    padding-right: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button2{
    width: 136px;
}

.section2-caption{
    max-width: 560px;
    text-align: center;
}

.why{
    text-align: center;
    margin-top: 3rem;
}

.section3 img{
    max-width: 80%;
    width: 100%;
    margin-left: 200px;
}

footer img{
    margin-left: 200px;
    height: 15%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 200px;
}

footer{
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}